In [5]:
import pandas as pd
from IPython.display import display

def find_partial_fd(df, primary_key):
    """
    ÊâæÂá∫ÈÉ®ÂàÜÂáΩÊï∏‰æùË≥¥ÔºàPartial Functional DependenciesÔºâ
    """
    partial_fd = {}
    non_key_attrs = [col for col in df.columns if col not in primary_key]  # ÊéíÈô§‰∏ªÈçµÊ¨Ñ‰Ωç

    for key in primary_key:
        for attr in non_key_attrs:
            if key in df.columns and attr in df.columns:
                unique_values = df[[key, attr]].drop_duplicates()
                if unique_values[key].nunique() < unique_values[attr].nunique():
                    partial_fd[key] = attr

    return partial_fd

def find_transitive_fd(df, primary_key):
    """
    ÊâæÂá∫ÂÇ≥ÈÅûÂáΩÊï∏‰æùË≥¥ÔºàTransitive Functional DependenciesÔºâ
    """
    transitive_fd = {}
    non_key_attrs = [col for col in df.columns if col not in primary_key]  # ÊéíÈô§‰∏ªÈçµ

    for attr in non_key_attrs:
        for dep_col in non_key_attrs:
            if attr != dep_col and attr in df.columns and dep_col in df.columns:
                unique_values = df[[attr, dep_col]].drop_duplicates()
                if unique_values[attr].nunique() < unique_values[dep_col].nunique():
                    transitive_fd[attr] = dep_col

    return transitive_fd

def normalize_to_2NF(df, primary_key):
    """
    Â∞á 1NF ËΩâÊèõÁÇ∫ 2NFÔºàÁßªÈô§ÈÉ®ÂàÜÂáΩÊï∏‰æùË≥¥Ôºâ
    """
    partial_fd = find_partial_fd(df, primary_key)

    if not partial_fd:
        print("‚úÖ Â∑≤Á∂ìÊòØ 2NF")
        return df, {}

    new_tables = {}
    for key, attr in partial_fd.items():
        if attr not in df.columns:
            print(f"‚ö†Ô∏è Ë≠¶ÂëäÔºöÊ¨Ñ‰Ωç {attr} ‰∏çÂ≠òÂú®Êñº DataFrameÔºåË∑≥ÈÅéÔºÅ")
            continue
        new_table = df[[key, attr]].drop_duplicates()
        new_tables[f"{key}_table"] = new_table
        df = df.drop(columns=[attr], errors='ignore')  # ÈÅøÂÖç KeyError

    print("üîÑ ËΩâÊèõÁÇ∫ 2NF ÂÆåÊàê")
    return df, new_tables

def normalize_to_3NF(df, primary_key):
    """
    Â∞á 2NF ËΩâÊèõÁÇ∫ 3NFÔºàÁßªÈô§ÂÇ≥ÈÅûÂáΩÊï∏‰æùË≥¥Ôºâ
    """
    transitive_fd = find_transitive_fd(df, primary_key)

    if not transitive_fd:
        print("‚úÖ Â∑≤Á∂ìÊòØ 3NF")
        return df, {}

    new_tables = {}
    for key, attr in transitive_fd.items():
        if attr not in df.columns:
            print(f"‚ö†Ô∏è Ë≠¶ÂëäÔºöÊ¨Ñ‰Ωç {attr} ‰∏çÂ≠òÂú®Êñº DataFrameÔºåË∑≥ÈÅéÔºÅ")
            continue
        new_table = df[[key, attr]].drop_duplicates()
        new_tables[f"{key}_table"] = new_table
        df = df.drop(columns=[attr], errors='ignore')  # ÈÅøÂÖç KeyError

    print("üîÑ ËΩâÊèõÁÇ∫ 3NF ÂÆåÊàê")
    return df, new_tables

# Ê∏¨Ë©¶Êï∏Êìö
data = {
    'StudID': [1, 2, 3, 1, 2],
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Course': ['Math', 'Science', 'Math', 'English', 'English'],
    'Prof': ['Dr. Lin', 'Dr. Wang', 'Dr. Lin', 'Dr. Smith', 'Dr. Smith'],
    'Location': ['Room 101', 'Room 202', 'Room 101', 'Room 303', 'Room 303'],
    'Score': [90, 85, 88, 75, 80]
}

df_1NF = pd.DataFrame(data)

# È°ØÁ§∫ DataFrame ÁöÑÂáΩÊï∏ÔºàÈÅ©Áî®Êñº Jupyter NotebookÔºâ
def display_dataframe(df, name="DataFrame"):
    """ Âú® Jupyter Notebook ‰∏≠Ê†ºÂºèÂåñÈ°ØÁ§∫ DataFrame """
    print(f"\nüìå {name}Ôºö")
    display(df.style.set_properties(**{'border': '1px solid black', 'padding': '10px'}))

# È°ØÁ§∫ÂéüÂßã 1NF Ë°®Ê†º
display_dataframe(df_1NF, "ÂéüÂßã 1NF Ë°®Ê†º")

# ËΩâÊèõ 1NF ‚Üí 2NF
df_2NF, new_2NF_tables = normalize_to_2NF(df_1NF, ['StudID', 'Course'])

# È°ØÁ§∫ 2NF Ë°®Ê†º
display_dataframe(df_2NF, "2NF ‰∏ªË¶ÅË°®Ê†º")
for name, table in new_2NF_tables.items():
    display_dataframe(table, f"2NF Êñ∞Ë°®Ê†º {name}")

# ËΩâÊèõ 2NF ‚Üí 3NF
df_3NF, new_3NF_tables = normalize_to_3NF(df_2NF, ['StudID', 'Course'])

# È°ØÁ§∫ 3NF Ë°®Ê†º
display_dataframe(df_3NF, "3NF ‰∏ªË¶ÅË°®Ê†º")
for name, table in new_3NF_tables.items():
    display_dataframe(table, f"3NF Êñ∞Ë°®Ê†º {name}")

üìå ÂéüÂßã 1NF Ë°®Ê†ºÔºö

‚ö†Ô∏è Ë≠¶ÂëäÔºöÊ¨Ñ‰Ωç Score ‰∏çÂ≠òÂú®Êñº DataFrameÔºåË∑≥ÈÅéÔºÅ
üîÑ ËΩâÊèõÁÇ∫ 2NF ÂÆåÊàê

üìå 2NF ‰∏ªË¶ÅË°®Ê†ºÔºö

üìå 2NF Êñ∞Ë°®Ê†º StudID_tableÔºö

‚úÖ Â∑≤Á∂ìÊòØ 3NF

üìå 3NF ‰∏ªË¶ÅË°®Ê†ºÔºö